# Notebook on Predicting Housing Prices From Various Features

### Author: Nick Maynard
### Email: nick.maynard@mac.com

## Import Dependencies
----------------------------------

In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import Our Data
------------------------------------------

In [90]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## See what our dataframe looks like overall
--------------------------------------------

In [105]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Hot encode our vectors that aren't integers or floats
---------------------------------------------------------------------------------------------------

In [107]:
train2 = pd.DataFrame()
for val in train.columns:
    typ = train[val].dtype
    if typ not in [np.dtype('int64'), np.dtype('float64')]:
        tmp = train[val].to_numpy()
        foo = pd.get_dummies(tmp)
        train2 = pd.concat([train2, foo], axis=1)
    else:
        train2[val] = train[val]

test2 = pd.DataFrame()
for val in test.columns:
    typ = test[val].dtype
    if typ not in [np.dtype('int64'), np.dtype('float64')]:
        tmp = test[val].to_numpy()
        foo = pd.get_dummies(tmp)
        test2 = pd.concat([test2, foo], axis=1)
    else:
        test2[val] = test[val]

In [117]:
test2

,Id,MSSubClass,C (all),FV,RH,RL,RM,LotFrontage,LotArea,Grvl,...,ConLw,New,Oth,WD,Abnorml,AdjLand,Alloca,Family,Normal,Partial
0,1461,20,0,0,1,0,0,80.0,11622,0,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,0,0,0,1,0,81.0,14267,0,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,0,0,0,1,0,74.0,13830,0,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,0,0,0,1,0,78.0,9978,0,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,0,0,0,1,0,43.0,5005,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,0,0,0,0,1,21.0,1936,0,...,0,0,0,1,0,0,0,0,1,0
1455,2916,160,0,0,0,0,1,21.0,1894,0,...,0,0,0,1,1,0,0,0,0,0
1456,2917,20,0,0,0,1,0,160.0,20000,0,...,0,0,0,1,1,0,0,0,0,0
1457,2918,85,0,0,0,1,0,62.0,10441,0,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,0,0,0,1,0,74.0,9627,0,...,0,0,0,1,0,0,0,0,1,0

In [108]:
train_labels = train2['SalePrice'].to_numpy()
train_features = np.array(train2)
test_features = np.array(test2)